body {
    margin: 0;
    background-color: #EAE7DD ;
    /*background-image: url("background.jpg");*/
    background-repeat: no-repeat; 
    background-size: cover;   
}

.menu {
    display: flex;
    justify-content: end;
    padding: 1px;
    background-color: #99775C;

}

.menu a {                       /* home ... contact us */

    color: #323232;
    margin-top: auto;
    margin-bottom: auto;
    text-decoration: none;
    margin-right: 20px;
    font-family: Arial, sans-serif;
    font-size: 17px;
}

.menu a:hover {
    color: #fff;
    }

.menu h2{                       /* Aswant A Ambali */

    color: #323232;
    text-align: left;
    margin-left: 1%;
    margin-right: auto;

}

.button {
    text-align: center;         /* insta github.... ico */
    text-decoration: none;
}

.button a{
    text-decoration: none;
}

.main_text {
    text-align: center;
    color: #000000;
    overflow: hidden;
    padding: 5%;
}

.main_text p{
    font-size: small;
}
 
.main_img{
    float: left;
    height: auto;
    padding: 5%;
}

.main_img img{
    height: auto;
    width: 72%;
}
