body {
    margin: 0;
    background-color: #EAE7DD ;
    /*background-image: url("background.jpg");*/
    background-repeat: no-repeat; 
    background-size: cover;   
}

.menu {
    display: flex;
    justify-content: end;
    padding: 1px;
    background-color: #99775C;

}

.menu a {                       /* home ... contact us */

    color: #323232;
    margin-block-start: auto;
    margin-block-end: auto;
    text-decoration: none;
    margin-inline-end: 20px;
    font-family: Arial, sans-serif;
    font-size: 17px;
}

.menu a:hover {
    color: #fff;
    }

.menu h2{                       /* Aswant A Ambali */

    color: #323232;
    text-align: start;
    margin-inline-start: 1%;
    margin-inline-end: auto;

}


.main_text {
    text-align: center;
    color: #000000;
    overflow: hidden;
    padding-top: 5%;
    padding-right: 10%;
}

.main_text h1{
    font-size: 87px;

}
.main_text p{
    font-family:  sans-serif;
    
}

 
.main_img{
    float: inline-start;
    block-size: auto;
    padding-left: 5%;
}

.main_img img{
    block-size: auto;
    inline-size: 75%;
}

.button {
    text-align: center;         /* insta github.... ico */
    text-decoration: none;
    padding-top: 10%;
    
}

.button a{
    text-decoration: none;
    padding: 5px;
}

.button p{
    font-size: small;
    font-family: cursive;
}
